* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Sedan", Arial, Helvetica, sans-serif;
  background: #e7d6c6;
}

/*  Header */
header {
  width: 100%;
  height: 800px;
  background: url(/img/fotoplaya2.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

nav {
  text-align: center;
  padding: 30px 0 0 0;
}

nav li {
  display: inline-block;
  padding: 0 10px;
}

nav li > a {
  padding: 10px 15px;
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  border-radius: 15px;
}

nav li > a:hover {
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.5);
  transform: scale(1.2);
}

/*Menú de navegación desplegable*/
.menu {
  display: none;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #7ba5b3;
  transition: left 0.3s;
  z-index: 2;
}

.menu img {
  height: 70px;
  width: auto;
  align-items: center;
}

#toggle-menu {
  display: none;
}

.abrir-menu {
  display: none;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  padding: 5px;
  z-index: 2;
  transition: left 0.3s;
}

.abrir-menu::after {
  content: attr(data-open);
}

#toggle-menu:checked + .abrir-menu::after {
  content: attr(data-close);
}

.lista-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-menu li {
  padding: 10px 0;
}

.lista-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  display: block;
  padding: 10px 20px;
  transition: background-color 0.3s;
}

.lista-menu a:hover {
  background-color: #cadfe1;
}

#toggle-menu:checked ~ .menu {
  left: 0;
}

#toggle-menu:checked ~ .abrir-menu {
  left: 250px;
}

.textos-header img {
  height: 100px;
  width: auto;
}

header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

header .textos-header {
  display: flex;
  height: 600px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.textos-header h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  margin: 20px;
  text-shadow: 1px 1px 5px black;
}

.textos-header h1 {
  font-size: 50px;
  color: #fff;
  text-shadow: 1px 1px 5px black;
}

.textos-header h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  margin: 20px;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.wave {
  position: absolute;
  bottom: -1px;
  width: 100%;
}

.boton-inicio {
  font-family: "Sedan", Arial, Helvetica, sans-serif;
  background-color: #7ba5b3;
  color: #fff;
  border: none;
  margin: 10px;
  padding: 15px 25px;
  border-radius: 15px;
  font-size: 23px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.5);
  text-decoration: none;
}

.boton-inicio:hover {
  background-color: #59838f;
}

.contenedor {
  padding: 70px 0 70px 0;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

.titulo {
  color: #59838f;
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}

/*  PLANIFICADOR */
.planificador-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.planificador-ind {
  width: 28%;
  text-align: center;
}

.planificador-ind img {
  width: 90%;
  box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.5);
  border-radius: 30%;
  cursor: pointer;
}

.planificador-ind:hover {
  transform: scale(1.1);
}

.planificador-ind p {
  font-weight: 300;
  text-align: justify;
}

.planificador-ind h3 {
  font-size: 20px;
  margin: 15px 0 0 0;
  color: #7ba5b3;
}

/* OFERTAS */
.galeria-ofertas {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.imagen-ofertas {
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgb(0, 0, 0, 0.5);
}

.imagen-ofertas > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria {
  font-size: 25px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  transform: scale(0);
  background: rgba(123, 165, 179, 0.7);
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.imagen-ofertas:hover .hover-galeria {
  transform: scale(1);
}

/* CLIENTES */
.titulo-clientes {
  color: #59838f;
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px 0 0 0;
}

.subtitulo {
  color: #59838f;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
}

.cards .card {
  background: #cadfe1;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.7);
  margin: 0 0 30px 0;
}

.cards .card img {
  width: 25%;
  height: auto;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block;
}

.cards .card > .contenido-texto-card {
  width: 60%;
  color: #000;
}

.cards .card > .contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px;
}

/* FOOTER */
footer {
  background: #59838f;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}

.contenido-footer {
  text-align: center;
}

.contenido-footer h4 {
  color: #fff;
  border-bottom: 3px solid #d5b099;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.contenido-footer p {
  color: #ccc;
}

.titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #d5b099;
}

/* DISEÑO RESPONSIVO */
@media screen and (max-width: 900px) {
  /*Planificador*/
  .planificador-cont {
    flex-wrap: wrap;
  }

  .planificador-ind h3 {
    margin: 0 0 25px 0;
  }

  /*Ofertas*/
  .imagen-ofertas {
    width: 44%;
  }
}

@media screen and (max-width: 800px) {
  /*Clientes*/
  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards .card {
    width: 90%;
  }

  .cards .card:first-child {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 690px) {
  .menu {
    display: unset;
  }

  .abrir-menu {
    display: unset;
  }

  /*Header*/
  nav {
    display: none;
  }

  /*Footer*/
  .contenedor-footer {
    flex-direction: column;
  }

  .contenido-footer p {
    margin: 0 0 30px 0;
  }
}

@media screen and (max-width: 600px) {
  .textos-header h3 {
    font-size: 16px;
    font-weight: 300;
    margin: 20px;
  }

  .textos-header h1 {
    font-size: 46px;
  }

  .textos-header h2 {
    font-size: 26px;
    margin: 10px;
  }

  .hover-galeria {
    font-size: 18px;
  }
}

@media screen and (max-width: 450px) {
  /*Clientes*/
  .titulo-clientes {
    font-size: 35px;
  }

  .subtitulo {
    font-size: 25px;
  }

  .titulo {
    font-size: 35px;
  }
}

@media screen and (max-width: 408px) {
  .planificador-ind {
    width: 44%;
  }

  .imagen-ofertas {
    width: 88%;
  }

  .textos-header h3 {
    font-size: 12px;
    font-weight: 300;
    margin: 20px;
  }

  .textos-header h1 {
    font-size: 42px;
  }

  .textos-header h2 {
    font-size: 22px;
    margin: 10px;
  }

  .boton-inicio {
    padding: 15px 25px;
    font-size: 20px;
  }

  .titulo {
    font-size: 30px;
  }

  .titulo-clientes {
    font-size: 30px;
  }

  .subtitulo {
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {
  .textos-header h1 {
    font-size: 35px;
  }

  .textos-header h2 {
    font-size: 15px;
    margin: 10px;
  }

  .boton-inicio {
    padding: 15px 25px;
    font-size: 20px;
  }

  .titulo {
    font-size: 24px;
  }

  .titulo-clientes {
    font-size: 24px;
  }

  .subtitulo {
    font-size: 15px;
  }
}
